@charset "utf-8";
:root{
    --cor0:#5EC6F2;
    --co1:#2EBDDD;
    --co2:#1EF0D6;
}
body{
    background-color:var(--cor0);
}
header{
    background-color: var(--cor0);
    padding: 20px;
    margin: -10px;
}
header>h1{
text-align: center;
text-shadow: 2px 2px 2px black;
font-size: 40px;
}
header>li{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
nav>a{
    padding: 10px;
    color: blue;
    text-decoration: none;
    
    
}
nav>a:hover{
    color: blueviolet;
    text-decoration: underline;
}
div{
    margin: auto;
}
.texto{
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.texto>h1{
    text-align: center;
    
}
.texto>li{
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    padding: 5px;

}
main{
    background-color: #1EF0D6;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

section>h1{
    text-align: center;
    padding-bottom:10px ;
}
section>ul{
    font-size: 20px;
    columns: 2;
    text-align: center;
    padding-bottom: 10px;
}
section>ul>li{
    padding: 5px;
}
section>ul>li>a{
    color:blue;
    text-decoration: none;
}
section>ul>li>a:hover{
    text-decoration: underline;
}
.obejtivo>h1{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.obejtivo>p{
    text-align: justify;
    padding: 10px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
aside>h1{
    text-align: center;
}
aside>h3{
    text-align: center;
    
}
aside>p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 15px;
    padding: 10px;
    font-size: 18px;
}
footer{
    padding: 10px;
}
footer>h1{
    text-align: center;
}
footer>p{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
footer>.imagem{
    background-image: url('C:/Users/inald/Documents/curriculo/html-css/html/imagens/IMG-20210505-WA0001 (1).jpg');
    background-position: top center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
footer>h2{
    text-align: center;
}
footer>nav{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer>nav>li>a{
    text-decoration: none;
    
}
footer>nav>li>a:hover{
    text-decoration: underline;
    color: blueviolet;
}
